
h1 {font-weight: normal;font-size: 2.5em;line-height: 1; text-shadow: 1px 1px 0 #000;letter-spacing: -1px; margin:0 0 .5em; }
h1 span {cursor:pointer}
a { color:#fff;text-decoration:none}
a:hover {color: #ccc;text-decoration:underline}

body {background-color: black; background-repeat: no-repeat; background-position:center center; background-attachment: fixed; background-size: cover;font-family: "Segoe UI", Sans-Serif;color: #fff;}
.dots{ position:fixed; top:0; right:0; bottom:0; left:0; background:url(../img/dot-pattern.png); z-index:1; opacity:.6; cursor:pointer;}
    .phinitive, footer {max-width: 80%;margin: 3% 0 0 20%; padding: 1em;background:#ccc;background: rgba(0,0,0,.5); position:relative; z-index:2;}            
        .phinitive a {text-decoration: none;border-bottom: 1px solid #CCC;}
    .team { display:none; z-index: 2;position: relative; max-width:61%}
footer{font-size:10px;color:#ccc;position: fixed;z-index: 20;bottom: 10px; padding:.3em;opacity: .5;transition:opacity .4s ease}
footer:hover, .touch footer {opacity:1;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
        h1 { font-size:1.75em}
}
@media only screen
    and (max-width: 768px) {
         .phinitive, .team{ position:relative;margin:0; width:100%; max-width:100%;box-sizing: border-box; }
        .team { margin:1em 0}
        footer { margin: 0; width:100%; max-width:100%;bottom: 0;padding: 1em .3em;}
}
@media only screen
    and (max-width: 400px) {
        footer {position:relative; z-index:2}
        h1 { font-size:1.5em}
}